<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baize.framework.dao.ShippingMapper" >
  <resultMap id="BaseResultMap" type="com.baize.framework.domain.Shipping" >
    <constructor >
      <arg column="Id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Section_Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Subject_Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Textbook_Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Create_Date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="Modify_Date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.baize.framework.domain.Shipping" >
    insert into ba_material (Id, Name, Section_Id, 
      Subject_Id, Textbook_Id, Create_Date, 
      Modify_Date)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sectionId,jdbcType=BIGINT}, 
      #{subjectId,jdbcType=BIGINT}, #{textbookId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.baize.framework.domain.Shipping" >
    insert into ba_material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="sectionId != null" >
        Section_Id,
      </if>
      <if test="subjectId != null" >
        Subject_Id,
      </if>
      <if test="textbookId != null" >
        Textbook_Id,
      </if>
      <if test="createDate != null" >
        Create_Date,
      </if>
      <if test="modifyDate != null" >
        Modify_Date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="textbookId != null" >
        #{textbookId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>