<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>单文件上传与下载</title>
</head>
<body>
<p>单文件上传1</p>
<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <input type="submit" value="提交">
</form>
<hr/>
<p>单文件上传2</p>
<form method="post" action="/upload2" enctype="multipart/form-data">
    <input type="file" name="file2"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>